*.xwbt
*.html
*.ncd
*.map
*.mrp
*.ngm
*.xrpt
*.txt
*.csv
*.xml
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.iso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xsl
*.log
*.xise
*.projectmgr
*.lst
*.xmsgs
*.ref
*.xbcd
*.bin
*.sdbl
*.sdbx
*.xreport
*.lso
*.xml
