*.xwbt
*.html
*.ncd
*.map
*.mrp
*.ngm
*.xrpt
*.txt
*.csv
*.xml
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.iso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xsl
*.log
*.xise
*.projectmgr
*.lst
*.xmsgs
*.ref
*.xbcd
*.bin
*.sdbl
*.sdbx
*.lso
*.xml
*.dbg
*.dat
*.cmd
*.dll
*.exe
*.c
*.didat
*.obj
.DS_Store
*.sdb
*.wdb
*.wcfg
*.ini
_1
pn_info
*.xreport
*.pdf
*.tcl
*.asy
*.mif
*.ncf
*.sym
*.veo
*.bat
*.sh
*.scr
*.do
*.cgp
*.vhd
*.xdc
